@model AdmServiciosV2.Models.DireccionCLS

@{
    ViewBag.Title = "DetailDireccion";
    ViewBag.Titulo = "Detalle Direccion";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDireccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUbicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUbicacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion1)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", "Direccion", new { id = Model.IdDireccion }, new { @class = "button b-green" }) |
    @Html.ActionLink("Delete", "Eliminar", "Direccion", new { id = Model.IdDireccion }, new { @class = "button b-green" }) |
    @Html.ActionLink("Back to List", "Index", "Direccion", null, new { @class = "button b-green" })
</p>
