@model AdmServiciosV2.Models.ClienteCLS

@{
    ViewBag.Title = "Clientes";
    ViewBag.TituloChart = "Detalle cliente";
}

<div style="width:350px">
    <dl class="dl-horizontal">
        <dt style="float: left;">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd style="float:right;">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <br />
        <hr />
        <dt style="float: left;">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd style="float:right;">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <br />
        <hr />
        <dt style="float: left;">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd style="float:right;">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <br />
        <hr />
        <dt style="float: left;">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd style="float:right;">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <br />
        <hr />
        <dt style="float: left;">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd style="float:right;">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <br />
        <hr />
        <dt style="float: left;">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd style="float:right;">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <br />
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", "Clientes", new { id = Model.IdCliente }, new { @class = "button b-green" }) |
    @Html.ActionLink("Delete", "Eliminar", "Clientes", new { id = Model.IdCliente }, new { @class = "button b-green" }) |
    @Html.ActionLink("Back to List", "Index", "Clientes", null, new { @class = "button b-green" })
</p>
