@model AdmServiciosV2.Models.ServicioCLS

@{
    ViewBag.Title = "DetailServicio";
    ViewBag.TituloChart = "Detalle Servicio";
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdServicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoServicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostoBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoBase)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", "Servicio", new { id = Model.IdServicio }, new { @class = "button b-green" }) |
    @Html.ActionLink("Delete", "Eliminar", "Servicio", new { id = Model.IdServicio }, new { @class = "button b-green" }) |
    @Html.ActionLink("Back to List", "Index", "Servicio", null, new { @class = "button b-green" })
</p>
