@model IEnumerable<AdmServiciosV2.Models.ServicioCLS>
@{
    ViewBag.Title = "ListaServicio";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/style-dashboard.css" rel="stylesheet" />
    <title>DHM - Dashboard</title>
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <div class="nav-icon" onclick="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </div>
            <div class="navbar-left">
                <a href="#">Suscripción</a>
                <a class="active-link" href="#">Casos de soporte</a>
            </div>
            <div class="navbar-right">
                <a href="#">
                    <img width="30" src="/img/avatar.svg" alt="Avatar icon">
                </a>
            </div>
        </nav>

        <main>
            <div class="main-container">
                <div class="main-title">
                    <img src="/img/hello.svg" alt="Hello icon">
                    <div class="main-greeting">
                        <h1>Hola! Hosffman</h1>
                        <p>Bienvenido a tu dashboard</p>
                    </div>
                </div>
                <div class="main-cards">
                    <div class="card">
                        <i class="fa fa-inbox fa-2x text-lightblue"></i>
                        <div class="card-inner">
                            <p class="tect-primary-p">Casos totales</p>
                            <span class="font-bold text-title">250</span>
                        </div>
                    </div>

                    <div class="card">
                        <i class="fa fa-check fa-2x text-green"></i>
                        <div class="card-inner">
                            <p class="tect-primary-p">Casos completados</p>
                            <span class="font-bold text-title">5</span>
                        </div>
                    </div>

                    <div class="card">
                        <i class="fa fa-folder-open fa-2x text-yellow"></i>
                        <div class="card-inner">
                            <p class="tect-primary-p">Casos en proceso</p>
                            <span class="font-bold text-title">24</span>
                        </div>
                    </div>

                    <div class="card">
                        <i class="fa fa-times fa-2x text-red"></i>
                        <div class="card-inner">
                            <p class="tect-primary-p">Casos cancelados</p>
                            <span class="font-bold text-title">83</span>
                        </div>
                    </div>
                </div>

                <div class="charts">
                    <div class="charts-left">
                        <div class="charts-left-title">
                            <div>
                                <h1>Lista de Servicios</h1>
                            </div>
                            <i class="fa fa-folder-open fa-2x"></i>
                        </div>

                        <div class="list-container">
                            @Html.ActionLink("Totales", "Index", "Dashboard", new { Filtro = 0 }, null)|
                            @Html.ActionLink("Mes", "Index", "Dashboard", new { Filtro = 1 }, null)|
                            @Html.ActionLink("Semana", "Index", "Dashboard", new { Filtro = 2 }, null)
                            <table id="tabla-casos" class="table">
                                <tr>
                                    <th>
                                        ID de Servicio
                                    </th>
                                    <th>
                                        ID de Tipo de Servicio
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Costo Base
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdServicio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdTipoServicio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CostoBase)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "Editar", "Servicio", new { id = item.IdServicio }, null)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-img">
                    <img src="https://beezky.com/Content/LandingV2/assets/img/logo.png" alt="Logo">
                    <h1>Beezky</h1>
                </div>
                <i class="fa fa-times" id="sidebar-icon" onclick="closeSidebar()"></i>
            </div>
            <div class="sidebar-menu">
                <div class="sidebar-link">
                    <i class="fa fa-home"></i>
                    <a href="#">Home</a>
                </div>
                <div class="sidebar-link">
                    <i class="fa fa-home"></i>
                    <a href="#">Clientes</a>
                </div>
                <div class="sidebar-link">
                    <i class="fa fa-home"></i>
                    <a href="#">Detalle facturas</a>
                </div>
                <div class="sidebar-link">
                    <i class="fa fa-home"></i>
                    <a href="#">Servicios</a>
                </div>
                <div class="sidebar-link">
                    <i class="fa fa-home"></i>
                    <a href="#">Tipo servicios</a>
                </div>
                <div class="sidebar-link">
                    <i class="fa fa-home"></i>
                    <a href="#">Ubicaciones</a>
                </div>
                <div class="sidebar-logout">
                    <i class="fa fa-power-off"></i>
                    <a href="#">Log out</a>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Scripts/script-dashboard.js"></script>
</body>

</html>