@model AdmServiciosV2.Models.DetalleFacturaCLS

@{
    ViewBag.Title = "DetailDetalleFactura";
    ViewBag.TituloChart = "Detalles Factura";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDetalleFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDetalleFactura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFactura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdServicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entregado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entregado)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", "DetalleFactura", new { id = Model.IdDetalleFactura }, new { @class = "button b-green" }) |
    @Html.ActionLink("Delete", "Eliminar", "DetalleFactura", new { id = Model.IdDetalleFactura }, new { @class = "button b-green" }) |
    @Html.ActionLink("Back to List", "Index", "DetalleFactura", null, new { @class = "button b-green" })
</p>
